<div class="file is-primary is-small">
  <label class="file-label">
    <input class="file-input" type="file" name="resume" (change)="selectFile($event)"/>
    <span class="file-cta"><span class="file-label">Upload</span></span>
  </label>
</div>
<div class="modal" [class.is-active]="isModalActive()">
  <div class="modal-background"></div>
  <div class="modal-content">
    <progress class="progress is-success" [value]="progress()" max="100">
      Uploading...
      {{ progress() }}%
    </progress>
  </div>
</div>
