<table class="table is-striped is-hoverable is-fullwidth">
  <thead>
  <tr>
    <th i18n="@@pages.safe.files-list.filename">Filename</th>
    <th i18n="@@pages.safe.files-list.size">Size</th>
    <th i18n="@@pages.safe.files-list.created">Created</th>
    <th i18n="@@pages.safe.files-list.updated">Updated</th>
    <th i18n="@@pages.safe.files-list.accessed">Accessed</th>
  </tr>
  </thead>
  <tbody>
    @for (file of files(); track file.id) {
      <tr>
        <td [title]="file.mimetype">
          <span [class]="['fiv-cla', 'fiv-icon-' + file.extension]"></span>
          {{ file.filename }}
        </td>
        <td [title]="file.size">
          {{ file.size | fileSize }}
        </td>
        <td title="{{ file.created | timeAgo }}">{{ file.created | date }}</td>
        <td title="{{ file.updated | timeAgo }}">{{ file.updated | date }}</td>
        <td title="{{ file.accessed | timeAgo }}">{{ file.accessed | date }}</td>
      </tr>
    }
  </tbody>
</table>
