<app-header></app-header>
<section class="section">
  <div class="block is-flex is-justify-content-space-between is-align-items-center">
    <h2 class="is-flex-grow-1 title is-1" i18n="@@pages.safe.title">Files</h2>
    <app-upload-button (onUpload)="onUpload($event)"></app-upload-button>
  </div>
  <div class="block">
    <app-notification (onClose)="uploadNotification.set(undefined)"
                      [notification]="uploadNotification()"></app-notification>
    <app-notification [notification]="filesError()"></app-notification>
  </div>
  <app-files-list [files]="files()"></app-files-list>
</section>
